<div class="span6 offset3">
		<div class="boxy">
		
		<h1 class="custom-font">Hi I'm Alicia</h1>

		<p class="custom-font">I'm having a ton of fun learning rails. Installing was a pain in the ass though!</p>
		<%= link_to('Check out my app', pics_path, :class=> 'btn btn-warning btn-large') %>
		</div>
</div>